{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block content %}
    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-grid--no-spacing mdl-grid">
            {% if perms.Fencers.can_create %}
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-cell mdl-cell--1-col">
                    <a href="{% url 'fencers_management:fencer_create' %}">
                        <button class="mdl-button mdl-js-button mdl-button--mini-fab">
                            <i class="material-icons">add</i>
                        </button>
                    </a>
                </div>
            {% endif %}</div>
        <div class="mdl-cell mdl-cell--12-col mdl-grid">
            {% render_table table %}
        </div>
    </div>
{% endblock %}